.filter-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.filter-container input::placeholder{
    color: grey;
}

.filter-input-and-btn{
    display: flex;
    gap:0.5rem;
}

.filter-input-and-btn button{
    width: 100px;
    cursor: pointer;
}

